{{#each this}}
<li>
    <p>{{strAlcoholic}}</p>
    <p>{{strCategory}}</p>
    <h2>{{strDrink}}</h2>
    <img src={{strDrinkThumb}} alt={{strDrink}} width="220">
    <p>{{strInstructions}}</p>
</li>
{{/each}}